{% extends "NGO_HOME/home.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block headt %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/high.css' %}">
{% endblock %}
{% block content %}
    <div class="parralax">
        <div class="abc">
            <div class="centered">
                <h1 class="find"> Find Nearby</h1>
                <h2 class="find">
                <span class="typewrite" data-period="2000"
                      data-type='[ "NGO", "Help Centers"]'>
        </span>
                </h2>
                <div class="container">
                    <div class="form-search-wrap p-2" style="margin-top: 150px">
                        <form method="GET" class="fix" action="{% url 'ngo-home:ngo-search' %}">
                            {% csrf_token %}
                            <div class="row align-items-center">
                                <div class="col-lg-12 col-xl-4 no-sm-border border-right">
                                    <select class="form-control" name="q" id="category">
                                        <option value="Women & Children">What are you looking for?</option>
                                        <option value="Women & Children">Women & Children</option>
                                        <option value="Health">Health</option>
                                        <option value="Senior Citizen">Senior Citizen</option>
                                        <option value="Farmers">Farmers</option>
                                        <option value="Disablity">Disablity</option>
                                        <option value="LGBTQA">LGBTQA</option>
                                        <option value="Women">Women</option>
                                        <option value="Children">Children</option>
                                        <option value="Senior Citizen">Senior Citizen</option>

                                    </select>
                                </div>
                                <div class="col-lg-12 col-xl-3 no-sm-border border-right">
                                    <div class="wrap-icon">
                                        <span class="icon icon-room"></span>
                                        <select class="form-control" name="loc" id="category">
                                            <option value="">Location</option>
                                            <option value="Andher">Andheri</option>
                                            <option value="Bandra">Bandra</option>
                                            <option value="Santacruz">Santacruz</option>
                                            <option value="Mahim">Mahim</option>
                                            <option value="Powai">Powai</option>
                                            <option value="kamathipura">kamathipura</option>
                                            <option value="Sion">Sion</option>
                                            <option value="Chembur">Chembur</option>
                                            <option value="Ghatkopar">Ghatkopar</option>
                                            <option value="Kandivali">Kandivali</option>
                                            <option value="Malad">Malad</option>
                                            <option value="Borivali">Borivali</option>
                                            <option value="Dadar">Dadar</option>
                                            <option value="Thane">Thane</option>
                                            <option value="Mahim">Mahim</option>
                                            <option value="Kurla">Kurla</option>
                                            <option value="Sion">Sion</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-xl-3">
                                    <div class="select-wrap">
                                        <span class="icon"><span class="icon-keyboard_arrow_down"></span></span>
                                        <select class="form-control" name="category" id="category">
                                            <option value="">All Categories</option>
                                            <option value="">NGO</option>
                                            <option value="">Help Centers</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-xl-2 ml-auto text-right">
                                    <button class="btn btn-outline-info" style="width: 100px" type="submit">Search
                                    </button>
                                </div>
                            </div>
                            {% csrf_token %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-5" style="background: #101631">
            <h2 class="popular"> Popular Categories</h2>
            <br>
            <div class="container">
                <div class="row hidden-md-up">
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="{% static 'blog/img333.jpeg' %}" alt="Card image cap" >
                            <div class="card-body">
                                <a class="card-text" href="http://127.0.0.1:8000/search/?csrfmiddlewaretoken=wZDUsbtzvSH60Hn8hIDaXrBNc2Once7EjlS8nEar10wkLBl3yVTQfsQ329Zrd8Fj&q=Women+%26+Children&loc=&category=&csrfmiddlewaretoken=wZDUsbtzvSH60Hn8hIDaXrBNc2Once7EjlS8nEar10wkLBl3yVTQfsQ329Zrd8Fj" style="color: white">Women and Children</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="{% static 'blog/img222.jpeg' %}" alt="Card image cap">
                            <div class="card-body">
                                <a class="card-text" style="color: white" href="http://127.0.0.1:8000/search/?csrfmiddlewaretoken=5kofphI9Ygyujq4tHRDBGpwM3BHfiLbLSGDtkKp1uonI4k2oY4ThYqL2TISjjFJq&q=Children&loc=&category=&csrfmiddlewaretoken=5kofphI9Ygyujq4tHRDBGpwM3BHfiLbLSGDtkKp1uonI4k2oY4ThYqL2TISjjFJq">Children</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                       <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="{% static 'blog/to-volunteer-mobile.jpg' %}" alt="Card image cap">
                            <div class="card-body">
                                <a class="card-text"href="http://127.0.0.1:8000/search/?csrfmiddlewaretoken=fI7XxqvMQKAwv93ekdbb6HsuNy6b3yS324mbsTcEmSpKg319BqrRoIHKDFhf4sqI&q=Senior+Citizen&loc=&category=&csrfmiddlewaretoken=fI7XxqvMQKAwv93ekdbb6HsuNy6b3yS324mbsTcEmSpKg319BqrRoIHKDFhf4sqI" style="color: white">Senior Citizen</a>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4">
                      <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="{% static 'blog/imgc1.jpeg' %}" alt="Card image cap">
                            <div class="card-body">
                                <a class="card-text" href="http://127.0.0.1:8000/search/?csrfmiddlewaretoken=TSid9631YXadVDBlkrLgbf5R8YJbqQWJGexr4zKTu5ZrGxzgBE1Wtgk7Y5UfrKuo&q=Health&loc=&category=&csrfmiddlewaretoken=TSid9631YXadVDBlkrLgbf5R8YJbqQWJGexr4zKTu5ZrGxzgBE1Wtgk7Y5UfrKuo" style="color: white">Health</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                       <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="{% static 'blog/imgc2.jpeg' %}" alt="Card image cap" >
                            <div class="card-body">
                                <a class="card-text" style="color: white" href="http://127.0.0.1:8000/search/?csrfmiddlewaretoken=fBDmDFedP6i1Tz7756qMuNsjvNTSpjLm2XSAy8V5le7fEt52mjGsMOHzlU4Wqdj1&q=Farmers&loc=&category=&csrfmiddlewaretoken=fBDmDFedP6i1Tz7756qMuNsjvNTSpjLm2XSAy8V5le7fEt52mjGsMOHzlU4Wqdj1">Education</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                       <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="{% static 'blog/img c5.jpg' %}" alt="Card image cap" >
                            <div class="card-body">
                                <a class="card-text" style="color: white" href="http://127.0.0.1:8000/search/?csrfmiddlewaretoken=6ZMXQ6BczQ1395xMCajbQpkiVFibb1I9Tl1bLzi45YQhUZvHTnzR8qzyLMtfcVgO&q=LGBTQA&loc=&category=&csrfmiddlewaretoken=6ZMXQ6BczQ1395xMCajbQpkiVFibb1I9Tl1bLzi45YQhUZvHTnzR8qzyLMtfcVgO">LGBTQA</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="slideshow-container">
                <div class="mySlides fade">
                    <img src="{% static 'blog/img111.jpg' %}" style="width:100%" height="600px">
                    <div class="text">Lend A Hand</div>
                </div>

                <div class="mySlides fade">
                    <img src="{% static 'blog/img c6.jpeg' %}" style="width:100%" height="600px">
                    <div class="text1">Help The Grow</div>
              </div>

                <div class="mySlides fade">
                    <img src="{% static 'blog/imgc4.jpg' %}" style="width:100%" height="600px">
                    <div class="text2">Help The Grow</div>
                </div>
            </div>
            <br>

            <div style="text-align:center">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>

        </div>
        <br>
        <section class="services-section py-5 py-md-0">
            <div class="container">
                <div class="row no-gutters d-flex">
                    <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
                        <div class="media block-6 text-center services d-block">
                            <div class="icon"><span class="flaticon-charity"></span></div>
                            <div class="media-body">
                                <h3 class="heading mb-3">Help &amp; Support</h3>
                                <p> 203 Fake St. Mountain View, San Francisco, California, USA</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
                        <div class="media block-6 text-center services active d-block">
                            <div class="icon"><span class="flaticon-adoption"></span></div>
                            <div class="media-body">
                                <h3 class="heading mb-3">Adoption</h3>
                                <p>A small river named Duden flows by their place and supplies.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
                        <div class="media block-6 text-center services d-block">
                            <div class="icon"><span class="flaticon-volunteer"></span></div>
                            <div class="media-body">
                                <h3 class="heading mb-3">Volunteering</h3>
                                <p>A small river named Duden flows by their place and supplies.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
                        <div class="media block-6 text-center services d-block">
                            <div class="icon"><span class="flaticon-open-book"></span></div>
                            <div class="media-body">
                                <h3 class="heading mb-3">Education</h3>
                                <p>A small river named Duden flows by their place and supplies.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer footer_bg_1">
            <div class="footer_top">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-3 col-md-6 col-lg-3">
                            <div class="footer_widget ">
                                <h3 class="footer_title">
                                    About Us
                                </h3>
                                <p>Heaven fruitful doesn't over lesser days appear creeping seasons so behold bearing
                                    days open</p>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 col-lg-3">
                            <div class="footer_widget ">
                                <h3 class="footer_title">
                                    Contact Info
                                </h3>
                                <p>Address :Your address goes
                                    here, your demo address.</p>
                                <ul>
                                    <li><a href="#">Phone : +8880 44338899</a></li>
                                    <li><a href="#">Email : xyz@NGOrphan.com</a></li>
                                </ul>

                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 col-lg-3">
                            <div class="footer_widget ">
                                <h3 class="footer_title">
                                    Important Link
                                </h3>
                                <ul>
                                    <li><a href="#">View Project</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                    <li><a href="#">Testimonial</a></li>
                                    <li><a href="#">Proparties</a></li>
                                    <li><a href="#">Support</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 col-lg-3">
                            <div class="footer_widget">
                                <h3 class="footer_title">
                                    Newsletter
                                </h3>
                                <p class="newsletter_text">
                                    Heaven fruitful doesn't over lesser in days. Appear creeping seasons
                                </p>
                                <form action="#" class="newsletter_form">
                                    <input type="text" placeholder="Enter your mail">
                                    <button type="submit"><i class="fa fa-paper-plane"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="copy-right_text">
                <div class="container">
                    <div class="footer_border"></div>
                    <div class="row">
                        <div class="col-lg-8">
                            <p class="copy_right">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>

                        <div class="col-lg-4">
                            <div class="socail_links">
                                <ul class="socail_links">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-dribbble"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-behance"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
{% endblock content %}